[submodule "api"]
	path = services/api
	url = git@github.com:ESA-Blueshell/api.git
[submodule "frontend"]
	path = ui/frontend
	url = git@github.com:ESA-Blueshell/frontend.git
[submodule "services/api"]
	path = services/api
	url = git@github.com:ESA-Blueshell/api.git
[submodule "ui/frontend"]
	path = ui/frontend
	url = git@github.com:ESA-Blueshell/frontend.git
