[submodule "blueshell-api"]
	path = blueshell-api
	url = git@gitlab.com:blueshell-esports/blueshell-api.git
[submodule "blueshell-frontend"]
	path = blueshell-frontend
	url = git@gitlab.com:blueshell-esports/blueshell-frontend.git
