/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Hibernate cdf ###
.cfg.xml
.xml

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/
/tokens/

.cfg.xml

/uploads

credentials.json
.vscode/settings.json
src/main/resources/hibernate.cfg.xml
.mvn/

Dockerfile*
*-deployment.yaml
*-service.yaml